.titulo{
  color: red;
}

.login-anime {
  position: relative;
  width: 360px;
  height: 300px;
  padding: 20px;
  background: #15171d;
  border-radius:10px ;
}

.login-anime::before, .login-mask
{
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 700px;
  height: 100vh;
  background-size: contain;
  background-repeat: no repeat;

}

.login-anime::before{
  background: url(src\assets\circuito3.png);

}

.login-mask{
display: grid;
place-items: center;
-webkit-mask:url(src\assets\circuito3.png); ;
mask: url(src\assets\circuito3.png);

}

.login-mask::before{
  content: '';
  position: absolute;
  width: 700px;
  height: 500px;
  border-radius: 50%;
  border: 3px solid #e2de07;
  animation: ondavital 4s infinite;
}


@keyframes ondavital {
  0% {transform: scale(0.5);}
  50% {transform: scale(1.1);}
  100%{transform: scale(1.1);}
}
